/* Reset margin/padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C1A2E;
    padding: 10px 20px;

}

/* Site name styling */
.site-name {
    color: #1C1A2E;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    background-color: white;
}


/* Search bar styling */
.search-bar {
    display: flex;
    align-items: center;
    background: #ece6f1;
    padding: 10px 10px;
    border-radius: 25px;

}

.search-bar input {
    border: none;
    background: transparent;
    outline: none;
    padding: 5px;
}

.search-bar button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    padding-left: 5px;
}
