.jakob {
    display: flex;
    border-radius: 10px;
    gap: 15px;
    flex-direction: column;
}

.mastery-header {
    display: grid;
    grid-template-columns: 165px 95px 95px 135px 135px 135px 165px;
    align-items: center;
    text-align: center;
    background-color: #1e1e33;
    width: 100%;
    color: white;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 10px;
}

.mastery-card {
    display: grid;
    grid-template-columns: 165px 95px 95px 135px 135px 135px 165px;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #1e1e33;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
}

.mastery-card .mastery-main {
    display: contents;
}
.mastery-card .mastery-info {
    display: contents;
}

.mastery-card .champion-name {
    grid-column: 1;
    align-self: center;
    font-weight: bold;
}

.mastery-card .mastery-main img.champion-icon {
    grid-column: 2;
    width: 60px;
    height: 60px;
    justify-self: center;
}

.mastery-card .mastery-info .champion-level {
    grid-column: 3;
    font-weight: bold;
    font-size: 24px;
}

.mastery-card .mastery-info .champion-points {
    grid-column: 4;
    font-weight: bold;
}

.mastery-card .mastery-info .points-progress:first-of-type {
    grid-column: 5;
}

.mastery-card .mastery-info .points-progress:last-of-type {
    grid-column: 6;
}

.mastery-card .mastery-info .last-played {
    grid-column: 7;
}
