.peter{
    display: flex;

}
.header-title{
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #1e1e33;
    border: 1px solid wheat;
    width: 100%;
    color: white;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 10px;
}

.free-champions{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    gap: 15px;

}

.champion-box{
    background-color: #1e1e33;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid wheat;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

.image-Champion{
    margin-bottom: 10px;
}

.paragraph-Name{
    font-weight: bold;
    font-size: 20px;
}
.paragraph-Title{
font-size: 16px;
}

.paragraph-Blurb{
    font-size: 15px;
    margin-top: 10px;
}
